@import './new-todo';
@import './todo-list';

.tooltip:hover:after{
  border: 1px solid rgba(0, 0, 0, 0.09);
  padding: 3px 6px;
  content: attr(tooltip);
  box-shadow: 0 0 30px 7px rgba(0, 0, 0, 0.09);
  position: absolute;
  right: -15px;
  top: -30px;
  color: black;
}
