$input-primary-bg: #eeeeee;
$input-primary-bg-disabled: #f7f7f7;
$input-border: rgba(#544171, 0.7);
$text: rgba(108, 201, 185, 0.75);

.todo-list {
  list-style: none;
  padding: 0;
  margin-top: 50px;

  &.todo-list--editing {
    .todo-list__item:not(.todo-list__item--editing) {
      opacity: .25;
    }
  }

  &__item {
    position: relative;
    width: 100%;
    animation: todo-item-fadein .75s;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: .4s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition-property: opacity, box-shadow;

    &:hover &-remove {
      visibility: visible;
    }

    &--editing {
      // border-bottom: red 1px;
      // box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }

    &-input {
      flex-grow: 1;
      padding: 10px 60px 10px 10px;
      font-size: 20px;
      color: $text;

      &:focus {
        background-color: #ffffff;
        background: linear-gradient($input-border, $input-border);
        background-position: bottom center;
        background-repeat: no-repeat;
        animation: todo-item-focus .75s forwards;
        box-shadow: 0 25px 35px -15px rgba(0, 0, 0, 0.15);
      }

      &[disabled] {
        background-color: $input-primary-bg-disabled;
      }

      &::selection {
        background-color: rgba(#24212b, 0.45);
        color: white;
      }
    }
  }

  &__item-toggle {
    position: absolute;
    margin: 0;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  &__item-remove {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    outline: none;
    cursor: pointer;
    right: 15px;
    top: 10px;
    background: none;
    font-size: 15px;
    width: 40px;
    text-align: end;

    &:hover {
      color: red;
    }
  }
}

@keyframes todo-item-fadein {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes todo-item-focus {
  from {
    background-size: 0 2px;
  }
  to {
    background-size: 100% 2px;
  }
}
