<form name="newTodoForm" ng-submit="newTodoForm.$valid && $ctrl.createTodo($ctrl.todo)" novalidate>
  <input ng-model="$ctrl.todo.title" ng-keydown="$ctrl.isClearingKey($event.keyCode) && $ctrl.clearInput()" autofocus required class="todo-new" placeholder="What needs to be done?">
  <button type="reset" class="todo-new__clear">X</button>
</form>

<ul class="todo-list" ng-class="{'todo-list--editing': $ctrl.isEditing()}">
  <li ng-repeat="todo in $ctrl.todos track by $index">
    <form name="editTodoForm" class="todo-list__item" ng-class="{'todo-list__item--editing': todo.editing}">
      <input ng-click="$ctrl.toggleCompleted(todo)" ng-checked="todo.completed" type="checkbox" class="todo-list__item-toggle" />
      <input onclick="this.setSelectionRange(0, this.value.length);" ng-model="todo.title" ng-keydown="$ctrl.saveTodos()" ng-blur="$ctrl.endEditing(todo); $ctrl.beautify(todo)" ng-disabled="todo.completed" ng-focus="$ctrl.startEditing(todo)" class="todo-list__item-input" />
      <div ng-click="$ctrl.removeTodo(todo)" class="todo-list__item-remove">X</div>
    </form>
  </li>
</ul>
