$input-primary-bg: #eeeeee;
$input-primary-bg-disabled: #f7f7f7;
$input-primary-focused-border: #544172;

.todo-new {
  padding: 11px 60px 11px 10px;
  text-overflow: ellipsis;
  width: 750px;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;

  background: linear-gradient($input-primary-focused-border, $input-primary-focused-border), linear-gradient($input-primary-focused-border, $input-primary-focused-border), linear-gradient($input-primary-focused-border, $input-primary-focused-border);
  background-size: 2px 30%, 100% 2px, 2px 30%;
  background-position: bottom left, bottom center, bottom right;
  background-repeat: no-repeat;

  border: none;

  &:focus {
    outline: none;
    background-color: #ffffff;
    box-shadow: 0 0 0 2px $input-primary-focused-border inset;
  }

  &[disabled] {
    background-color: $input-primary-bg-disabled;
  }

  &__clear {
    display: inline-block;
    visibility: hidden;
    position: relative;
    outline: none;
    cursor: pointer;
    right: 40px;
    border: none;
    background: none;
    font-size: 15px;
  }

  &:not(:placeholder-shown) + &__clear {
    visibility: visible;
  }
}

.todo-list {
  list-style: none;
  padding: 0;

  &.todo-list--editing {
    .todo-list__item:not(.todo-list__item--editing) {
      opacity: .25;
    }
  }

  &__item {
    position: relative;
    width: 750px;
    animation: fadein .75s;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: .5s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition-property: opacity, box-shadow;

    &:hover &-remove {
      visibility: visible;
    }

    &--editing {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }

    &-input {
      flex-grow: 1;
      text-overflow: ellipsis;
      border-radius: 0 4px 4px 0;
      padding: 10px 60px 10px 10px;
      border: none;
      font-size: 16px;

      &:focus {
        outline: none;
        background-color: #ffffff;
        box-shadow: 0 0 0 1px $input-primary-focused-border inset;
      }

      &[disabled] {
        background-color: $input-primary-bg-disabled;
      }
    }
  }

  &__item-toggle {
    outline-color: magenta;
    outline-width: 3px;
    flex-basis: 40px;
    height: 40px;
    margin: 0;
  }

  &__item-remove {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    outline: none;
    cursor: pointer;
    right: 15px;
    top: 10px;
    border: none;
    background: none;
    font-size: 15px;
    width: 40px;
    text-align: end;

    &:hover {
      color: red;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
