$border: #6c3cb4;
$text: rgba(112, 201, 108, 0.75);

.new-todo {
  position: relative;

  .new-todo__input {
    padding: 11px 60px 11px 15px;
    text-overflow: ellipsis;
    width: 750px;
    border: none;
    font-size: 22px;
    outline: none;
    color: $text;
    background: linear-gradient($border, $border), linear-gradient($border, $border), linear-gradient($border, $border);
    background-position: bottom left, bottom center, bottom right;
    background-repeat: no-repeat;
    animation: new-todo-unfocus .4s forwards;
    transition: 1s;

    &::placeholder {
      text-align: center;
      opacity: .75;
      transition: opacity 1s;
    }

    &:focus, &:not(:placeholder-shown) {
      animation: new-todo-focus 1s forwards;
      box-shadow: 0 25px 35px -15px rgba(0, 0, 0, 0.15);

      &::placeholder {
        opacity: .45;
      }
    }
  }

  .new-todo__input:not(:placeholder-shown) + .new-todo__clear {
    visibility: visible;
    animation: new-todo__clear-fadein .6s;
  }

  &__clear {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    outline: none;
    cursor: pointer;
    right: 13px;
    top: 13px;
    border: none;
    background: none;
    font-size: 15px;

    &:hover {
      color: #e91e63;
    }
  }
}

@keyframes new-todo-focus {
  from { background-size: 2px 0, 80% 2px, 2px 0; }
  50% { background-size: 2px 0%, 100% 2px, 2px 0%; }
  to { background-size: 2px 40%, 100% 2px, 2px 40%; }
}

@keyframes new-todo-unfocus {
  from { background-size: 2px 40%, 100% 2px, 2px 40%; }
  50% { background-size: 2px 0%, 100% 2px, 2px 0%; }
  to { background-size: 2px 0, 80% 2px, 2px 0; }
}

@keyframes new-todo__clear-fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
