@import '../../colors';
@import '../../typography';

$link: 'a';

#{$link} {
  font-size: $font-size-secondary;
  color: $link-primary;
  text-decoration: none;
}

#{$link}:hover {
  color: $link-primary-hover;
  text-decoration: underline;
}

#{$link}:active, #{$link}:focus {
  color: $link-primary-active;
  text-decoration: underline;
}

#{$link}[disabled] {
  color: $link-primary-disabled;
}
