$btn-primary-bg: #544172;
$btn-primary-bg-hover: #655480;
$btn-primary-bg-active: #4b3a66;
$btn-primary-bg-disabled: #dddddd;
$btn-primary: #ffffff;
$btn-primary-disabled: var(--brownish-grey);

$link-primary: #544172;
$link-primary-hover: #655480;
$link-primary-active: #4b3a66;
$link-primary-disabled: var(--warm-grey);

$input-primary-bg: #eeeeee;
$input-primary-bg-disabled: #f7f7f7;
$input-primary-focused-border: #544172;
