.l-content {
  display: flex;
  min-height: 90vh;
}

.l-center {
  margin: 20vh auto;
}

ul {
  list-style: none;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: inherit;
  box-sizing: border-box;
  flex-shrink: 0;
}

@keyframes a-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
