@import '../colors.scss';

.c-input--main {
  background: linear-gradient($g-color-primary, $g-color-primary),
              linear-gradient($g-color-primary, $g-color-primary),
              linear-gradient($g-color-primary, $g-color-primary);
  background-position: bottom left,
                       bottom center,
                       bottom right;
  background-repeat: no-repeat;
  animation: a-input--main-focus-out .4s forwards;

  &:focus, &[placeholder]:not(:placeholder-shown) {
    animation: a-input--main-focus-in 1s forwards;
    background: linear-gradient($g-color-primary, $g-color-primary),
                linear-gradient($g-color-primary, $g-color-primary),
                linear-gradient($g-color-primary, $g-color-primary);
    background-position: bottom left,
                         bottom center,
                         bottom right;
    background-repeat: no-repeat;
  }
}

@keyframes a-input--main-focus-in {
  from {
    background-size: 2px 0, 80% 2px, 2px 0; }
  50% {
    background-size: 2px 0%, 100% 2px, 2px 0%;
  }
  to {
    background-size: 2px 40%, 100% 2px, 2px 40%;
  }
}

@keyframes a-input--main-focus-out {
  from {
    background-size: 2px 40%, 100% 2px, 2px 40%;
  }
  50% {
    background-size: 2px 0%, 100% 2px, 2px 0%;
  }
  to {
    background-size: 2px 0, 80% 2px, 2px 0;
  }
}
