@import '../molecules/nav-items-list';

%header-nav {
  display: flex;
  align-items: stretch;
  color: #eee;
  background-color: #333;

  ul { @extend %nav-items-list; }

  div + nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
  }

  a { color: inherit; }
}